@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

.container {
  max-width: 1440px;
  margin: 0 auto;
}

th:first-child,
td:first-child {
  text-align: start;
}

td:last-child,
th:last-child {
  text-align: right;
}
